# vi: ft=yaml
---
extends: default
ignore: |
  .github/workflows/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
