---
- name: Ensure UFW is present
  ansible.builtin.package:
    name: ufw
    state: present

- name: Allow localhost traffic
  community.general.ufw:
    rule: allow
    from_ip: 127.0.0.0/8
    comment: Allow loopback traffic

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: 22
    proto: tcp
    comment: Allow SSH traffic

- name: Set default policies
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - direction: incoming
      policy: deny
    - direction: outgoing
      policy: allow
    - direction: routed
      policy: deny

- name: Enable UFW
  community.general.ufw:
    state: enabled
