---
- name: Ensure UFW is present
  ansible.builtin.package:
    name: ufw
    state: present

# To make sure we're not locking ourselves out if the role fails partway
# through
- name: Disable UFW
  community.general.ufw:
    state: disabled
  # Don't break idempotence
  changed_when: false

# Not strictly required as it's the default but it's more explicit and *could*
    # fix broken state
- name: Allow localhost IPv4 traffic
  community.general.ufw:
    rule: allow
    from_ip: 127.0.0.0/8
    to_ip: 127.0.0.0/8
    comment: Allow loopback IPv4 traffic

# Not strictly required as it's the default but it's more explicit and *could*
    # fix broken state
- name: Allow IPv6 localhost traffic
  community.general.ufw:
    rule: allow
    from_ip: ::1/128
    to_ip: ::1/128
    comment: Allow loopback IPv6 traffic

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: 22
    proto: tcp
    comment: Allow SSH traffic

- name: Set incoming default policy to deny
  community.general.ufw:
    direction: incoming
    policy: deny

- name: Set outgoing default policy to allow
  community.general.ufw:
    direction: outgoing
    policy: allow

- name: Set routed default policy to deny
  community.general.ufw:
    direction: routed
    policy: deny

- name: Enable UFW
  community.general.ufw:
    state: enabled
  # Don't break idempotence
  changed_when: false
