---
- name: "Update apt cache"
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400 # 24h

- name: Ensure UFW is present
  ansible.builtin.package:
    name: ufw
    state: present

- name: Allow localhost traffic
  community.general.ufw:
    rule: allow
    from_ip: 127.0.0.0/8
    comment: Allow loopback traffic

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: 22
    proto: tcp
    comment: Allow SSH traffic

- name: Set incoming default policy to deny
  community.general.ufw:
    direction: incoming
    policy: deny

- name: Set outgoing default policy to allow
  community.general.ufw:
    direction: outgoing
    policy: allow

- name: Set routed default policy to deny
  community.general.ufw:
    direction: routed
    policy: deny

- name: Enable UFW
  community.general.ufw:
    state: enabled
