---
- name: Ensure ssh server is present
  ansible.builtin.package:
    name: openssh-server
    state: present

- name: Secure ssh server
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    state: present
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - regexp: '^PermitRootLogin'
      line: 'PermitRootLogin no'
    - regexp: '^PasswordAuthentication'
      line: 'PasswordAuthentication no'
    - regexp: '^AllowUsers'
      line: 'AllowUsers {{ base__provisioning_username }}
        {{ base__operator_username }}'
  notify:
    - Restart sshd
