---
- name: Set unattended upgrades packages list
  ansible.builtin.set_fact:
    unattended_packages: >-
      {{ ['unattended-upgrades'] +
      (['update-notifier-common'] if ansible_distribution == 'Ubuntu'
      else []) }}

- name: Install unattended-upgrades
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ unattended_packages }}"

- name: Enable unattended upgrades
  ansible.builtin.copy:
    src: "files/{{ item }}"
    dest: "/etc/apt/apt.conf.d/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  loop:
    - 20auto-upgrades
    - 50unattended-upgrades
